# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
.venv/

# Logs
logs/
*.log

# OS-specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Test cache
.pytest_cache/
.tox/

# MyPy
.mypy_cache/
.dmypy.json

# Coverage
.coverage
htmlcov/
.coverage.*

# Build
build/
dist/
*.egg-info/

# SQLite or local DBs (if used)
*.sqlite3
*.db
